{% extends '::base.html.twig' %}

{% block body -%}
    <h1>categorias</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Desccat</th>
                <td>{{ entity.descCat }}</td>
            </tr>
            
             <th>Noticias</th>
              <td>
                 
            
                    {% for noti in entity.allnoticias %}
           
                <a href="{{ path('noticias_show', { 'id': noti.id }) }}">{{ noti.titulo }}</a>
                <br>
                
                </td>
        {% endfor %}
            
            
            
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('categorias') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('categorias_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
